<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ParallelSuite" parallel="classes" thread-count="2">

    <parameter name="browser" value="chrome"/>

    <test name="Parallel Test">
        <classes>
            <class name="dtm.LoginTest"/>
            <class name="dtm.CartTest"/>
        </classes>
    </test>

</suite>